# Ignore local env files and secrets
.env
src/main/resources/.env
*.p12
*.jks
*.keystore
*.pem
*.key
*.crt
ssl.txt
service-account-key.json
logs/

# Ignore Spring properties (manejar fuera del repo)
src/main/resources/application.properties
src/main/resources/application-dev.properties
src/main/resources/application-prod.properties
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
dist/

### VS Code ###
.vscode/

### Maven Wrapper ###
.mvn/
!.mvn/wrapper/maven-wrapper.properties

### Application Resources ###
**/application.properties
**/service-account-key.json
**/ssl.txt
**/locacion.txt
*.log
logs/
**/logs/

### TODO Files ###
TODO.md